<div>
  <%# ジャンル検索機能の実装 %>
  <%# 部分テンプレート作成・実装 %>
</div>

<div>
  <%# バックグラウンドイメージ画像 %>
  <div>
    <p>
      ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。</br>
    </p>
  </div>
</div>

<h3>新着商品</h3>
<div>
  <%# 商品一覧（4コマ） %>
  <%# 画像 %>
  <%# 商品名 %>
  <%# 値段（税抜） %>
</div>

<div>
  全ての商品を見る
  <%# 商品一覧へのページ遷移実装 %>
</div>