<h5>注文履歴一覧</h5>

<%# @xxx.each do |xxx| %>

<%#

<table>
  <thead>
    <tr>
      <td>購入日時</td>
      <td>購入者</td>
      <td>注文個数</td>
      <td>注文ステータス</td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>西暦/月/日 時間/分/秒</td>
      <td>購入者氏名</td>
      <td>注文個数</td>
      <td>販売ステータス（入金待ち, 製作中…など【enum】で実装する</td>
    </tr>
  </tbody>
</table>

%>

<%# <% end %>